/* reset range */

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}


/* range thumb */

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -7px;
}


input[type=range]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
}


input[type=range]::-ms-thumb {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
}


/* range track */

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: transparent;
}

input[type=range]:focus::-ms-fill-lower {
  background: transparent;
}

input[type=range]::-ms-fill-upper {
  background: transparent;
}

input[type=range]:focus::-ms-fill-upper {
  background: transparent;
}
