.t-3 {
  transition-duration: 0.3s!important;
}

.t-5 {
  transition-duration: 0.5s!important;
}

.all {
  transition-property: all!important;
}

.ease {
  transition-timing-function: ease!important;
}

.trans-y-0 {
  transform: translateY(0);
}

.trans-y--350 {
  transform: translateY(-350px);
}

@media (--breakpoint-not-small) {
  .trans-y-0-ns {
    transform: translateY(0);
  }
}
