<h2>New Event</h2>

<%= render "form.html", changeset: @changeset,
                        action: event_path(@conn, :submit_event_create),
                        event_approved?: false %>

<span><%= link "Back", to: elm_path(@conn, :index) %></span>
