<div><%= link "Back to events", to: elm_path(@conn, :index), class: "no-underline green hover-gold" %></div>
<h2>Submit your event</h2>

<%= render "form.html", changeset: @changeset,
                        action: event_path(@conn, :user_event_create) %>
