body {
  margin: 0;
  font-family: var(--sans-serif);
}

.pointer {
  cursor: pointer;
}

.no-select {
  user-select: none;
}

.mt--4 {
  margin-top: -var(--spacing-large);
}

.vh-60 {
  height: 60vh;
}

@media (--breakpoint-not-small) {
  .bg-green-ns {
    background-color: var(--green);
  }
}
