.t-500ms {
  transition-duration: 0.5s!important;
}

.t-delay-500ms {
  transition-delay: 0.5s!important;
}

.all {
  transition-property: all!important;
}

.t-bg-color {
  transition-property: background-color!important;
}

.ease {
  transition-timing-function: ease!important;
}
